@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
section{
    padding: 50px;
}
/*navbar stuff*/
.max-width{
    max-width: 2000px;
    padding: 10px 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Comfortaa', 'Bold';
    transition: all 0.3s ease;
    z-index: 10000;
}

.navbar.sticky{
    padding: 15px 0;
    background: linear-gradient(to right, green, yellow);
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: red;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: yellow;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: green;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li{
    list-style: none;
    display: inline;
    font-family: 'Comfortaa', 'Light';
    margin-left: 15px;
}

.navbar .menu li a{
    color: red;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: white;
    transition: color 0.3s ease;
}

.navbar.sticky .menu li a{
    color:black;
}

.navbar.sticky .menu li a:hover{
    color: red;
}

.about, .education{
    font-family: 'Comfortaa', 'Light';
}

/* menu but stuff */

.menu-but{
    display: none;
}



/*home stuff*/

.home{
    display: flex;
    background: black;
    height: 100vh;
    color: white;
    min-height: 1000px;
}

.home .max-width{
    margin: auto 0px auto -50px;
}



.home .home-content .text1{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Comfortaa';
}

.home .home-content .text2{
    font-size: 75px;
    font-weight: bold;
    margin-left: 30px;
    font-family: 'Comfortaa';
}

.home .home-content .text3{
    font-size: 50px;
    font-weight: lighter;
    margin-left: 30px;
    font-family: 'Comfortaa';
}

.home .home-content .text3 span{
    color: yellow;
}

/* about stuff */
.about .about-content
,.education .education-content
,.skills .skills-content
,.contact .contact-content{
    font-family: 'Comfortaa';
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title{
    text-align: center;
    font-family: 'Comfortaa';
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.skill-title{
    font-family: 'Comfortaa';
    font-size: 40px;
    font-weight: 500;
    padding: 60px 0 40px 0;
}

.title span{
    display: inline;
}

.about .about-content .col-l{
    width: 45%;
}
.about .about-content .col-r{
    width: 55%;
}

.about .about-content .col-l img{
    height: 400px;
    width: 400px;
    display: inline;
    object-fit: contain;
    border-radius: 10px;
}

.about .about-content .col-r a{
    display: inline-block;
    background: linear-gradient(to top, green, yellow);
    color: black;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: none;
    transition: all 0.3s ease;
}

.about .about-content .col-r a:hover{
    color: green;
    background: none;
    border: 2px solid green;
}

.education{
    display: flex;
    background: rgb(0, 92, 0);
    color: yellow;
}

/* education stuff */
.education .education-content img{
    height: 75px;
    width: 75px;
}

.education .education-content .card .study{
    font-size: 18px;
    margin: 20px;
}

.education .education-content .card{
    text-align: center;
    width: 30%;
    background: rgb(0, 158, 0);
    padding: 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.education .education-content .card .box{
    transition: all 0.3s ease;
}

.education .education-content .card:hover{
    background: linear-gradient(to top, green, yellow);
    transition: color 0.3s ease;
}

.education .education-content .card:hover i{
    color: green;
    transition: color 0.3s ease;
}

.education .education-content .card:hover .box{
    transform: scale(1.05);
}


.education .education-content .card i{
    font-size: 75px;
}

.education .education-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    
}
.skills .list{
    display: flex;
    justify-content: flex-start;
    margin: 30px;
    width: 200%
}

.skills .cell{
    position: relative;
    justify-content: center;
    align-content: center;
    margin-right: 180px ;
    
}
.skills .cell i{
    
    top: 0px;
    font-size: 200px;
    color: green;
}
.skills .void i{
    top: 0px;
    font-size: 200px;
    color: rgba(0, 0, 0, 0);
}
.skills .cell i[alt="red"]{
    color: red;
}
.skills .cell i[alt="yellow"]{
    color: yellow;
}
.skills .cell i[alt="black"]{
    color: black;
}
.skills .cell .logo img{
    position: absolute;
    margin: 41px 41px;
    top: 0px;
    height: 120px;
    width: 120px;
    
}


.skills .cell .logo img[alt="Blender logo no text"]{
    height: 98px;
    width: 120px;
    margin: 50px 38px;
}

.skills .cell .logo img[alt="Maya Logo"]{
    height: 110px;
    width: 110px;
    margin: 45px 47px;
}

.skills .cell .logo img[alt="CSS3 logo and wordmark"]{
    height: 120px;
    width: 82px;
    margin: 40px 60px;
}
.skills .cell .logo img[alt="JavaScript-logo"]{
    height: 105px;
    width: 105px;
    margin: 49px 49px;
}
.skills .cell .logo img[alt="Csharp Logo"]{
    height: 230px;
    width: 230px;
    margin: -15px -12px;
}
.skills .cell .logo img[alt="ISO C++ Logo"]{
    height: 135px;
    width: 120px;
    margin: 33px 43px;
}
.skills .cell .name{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.contact{
    display: flex;
    background: linear-gradient(to bottom, rgba(0, 243, 0, 0), yellow);
}

.contact .title{
    color: red;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
    align-self: flex-start;
}

.contact .contact-content .text{
    color: green;
    font-weight: bolder;
    font-size: 22px;
}

.contact .contact-content p{
    margin-left: 30px;
}

.contact .contact-content .left .info{
    margin-left: 30px;
    margin-top: -20px;
    font-size: 20px;
}

.contact .contact-content .icons{
    display: grid;
    grid-template-columns: 50% 50%;
}

.contact .contact-content .icons .row{
    display: list-item;
    margin-top: 20px;
    padding-right: 30px;
}
.contact .contact-content .icons .row i{
    color: red;
    text-align: center;
}
.contact .contact-content .icons .row svg{
    fill: red;
    zoom: 30%;
}
.contact .contact-content .left .head{
    font-size: 110%;
    font-weight: bolder;
    color: green;
    margin-bottom: 10px;
}

.contact .contact-content .left .sub-title{
    font-size: 90%;
    color: red;
}
.contact .contact-content .left .sub-title a:visited{
    color: red;
    transition: all 0.3s ease;
}
.contact .contact-content .left .sub-title a:link{
    color: red;
}
.contact .contact-content .left .sub-title a:hover{
    zoom: 105%;
}
.contact .contact-content .right form .fields{
    display: flex;
}
.contact .contact-content .right form .field 
,.contact .contact-content .right form .fields .field{
    height: 45px;
    width: 100%;
    padding: 3px;
}
.contact .contact-content .right form input
,.contact .contact-content .right form textarea{
    height: 100%;
    width: 100%;
    border: 2px solid red;
    border-radius: 6px;
    padding: 0 10px;
    font-size: 17px;
    background: green;
    color: yellow;
    font-family: 'Comfortaa';
}
.contact .contact-content .right form textarea{
    width: 100%;
    overflow-y: auto;
    resize: none;
    margin-bottom: 100%;
    max-height: 300px;
}
.contact .contact-content .right form .button{
    height: 47px;
    width: 100%;
    margin-top: 280px;
}
.contact .contact-content .right form .button button{
    height: 100%;
    width: 100%;
    border: 2px solid green;
    border-radius: 6px;
    background: green ;
    color: yellow;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
}
.contact .contact-content .right form .button button:hover{
    color: green;
    border-color: red;
    background: rgba(0, 0, 0, 0);
    font-weight: 900;
    transition: color 0.3s ease;
}
.contact .contact-content .right form input::placeholder
,.contact .contact-content .right form textarea::placeholder{
    color: rgba(255, 255, 0, 0.75);
}
/* responsive media query */
@media(max-width: 1400px){
    .about .about-content .col-l img{
        height: 350px;
        width: 350px;
    }
    .about .about-content .col-l{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .col-r{
        flex: 100%;
    }
    .education .education-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .cell, .skills .void{
        zoom: 80%;
        margin: 30px;
        padding-left: 20px;
    }
    .skills .skill-title{
        font-size: 40px;
        padding: 10px 0 10px 0;
    }
    .skills .cell .name{
        font-size: 35px;
    }
    .skills .list{
        display: flex;
        justify-content: space-between;
        margin: 0 30px 0 0;
        width: 200%;
        flex-direction: row;
    }
    
}

@media(max-width: 1100px){

    .max-width{
        padding: 0 30px
    }
    .menu-but{
        color: red;
        font-size: 25px;
        cursor: pointer;
        transition: color 0.3s ease;
        display: block;
        z-index: 1000;
    }
    .menu-but:hover{
        color: white;
    }
    
    .navbar.sticky .menu-but{
        color: black;
    }
    .navbar.sticky .menu-but:hover{
        color: red;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 100%;
        top: 0;
        background: linear-gradient(to top,green,yellow);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px;
        font-size: 40px;
    }
    .title{
        font-size: 30px;
    }

    .home .home-content .text2{
        font-size: 50px;
    }
    .home .home-content .text3{
        font-size: 30px;
    }
    .education .education-content .card{
        width: 100%;
    }

    .skills .cell, .skills .void{
        zoom: 70%;
        margin: 30px;
        padding-left: 20px;
        align-items: center;
    }

    .skills .max-width{
        padding: 0;
    }
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}